body{
    background: lightslategray;
}

.img-thumbnail img {
    width: 100%;
}

.img-thumbnail{
    padding: 0;
}

.card{
    height: 100%;
}

.caption{
    padding: 9px;
}

.delete-form{
    display: inline;
}

.center{
    text-align:center;
}

.forms{
    margin-top: 2%;
    width: 30%;
}